################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library
/Logs
/obj/Debug
/Temp
/UserSettings
/.vs/dino2/FileContentIndex
